<div class="pt-[100px] px-[48px]">
  <div class="box-content bg-white/30 border-white border rounded-[20px] p-[24px] ">
    <h1 class="text-white text-center text-[32px] mb-[32px] font-bold">新規登録</h1>

    <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.label :username, "ユーザー名" %><br>
      <%= f.text_field :username, class: "input input-accent w-full mb-[24px] rounded-[20px]" %>
      <br>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full mb-[24px] input input-accent text-[#656565] rounded-[20px]" %>
      <br>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full mb-[24px] input input-accent text-[#656565] rounded-[20px]" %>
      <br>
      <%= f.label :password_confirmation, "パスワード（確認用）" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full mb-[24px] input input-accent text-[#656565] rounded-[20px]" %>
      <br>
        <%= f.submit "登録", class: "py-[12px] px-[16px] text-center rounded-[20px] bg-[#2EB7AC] text-white hover:bg-teal-600 box-content w-[66px]" %>
    <% end %>
    <%= render "devise/shared/links" %>	
  </div>
</div>
