<% if @show_quick_form %>
	<section class="card">
		<h2 class="text-xl text-green-700">今日の記録</h2>
			<%= form_with model: (@daily_record || current_user.daily_records.build(recorded_on: @today)), local: true do |f| %>
				<%= f.hidden_field :recorded_on, value: @today %>
				<div>
					<%= f.label :weight, "体重" %><br>
					<%= f.number_field :weight, step: "0.1" %>
				</div>
			
				<div>
					<%= f.label :body_fat_percentage, "体脂肪率" %><br>
					<%= f.number_field :body_fat_percentage, step: "0.1" %>
				</div>
			
				<%= f.submit(f.object.persisted? ? "更新" : "保存") %>
			<% end %>
	</section>
<% else %>
	<% if @goal_diff_kg %>
		<section class="card">
			目標まで<strong><%= format('%+.1f', @goal_diff_kg) %>kg</strong>
		</section>
	<% end %>
<% end %>

<section class="card">
	<h2>今日のタスク</h2>
		<% @habits.each do |habit| %>
			<% checked = @done_habit_ids.include?(habit.id) %>
			
			<%= form_with url: habit_checks_path, method: :post, local: true do %>
				<%= hidden_field_tag :habit_id, habit.id %>
				<%= hidden_field_tag :recorded_on, @today %>
				
				<%= hidden_field_tag :done, "0" %> 

        <% cid = "habit_#{habit.id}" %>
        <label for="<%= cid %>" style="display:flex;align-items:center;gap:.5rem;">
          <%= check_box_tag :done, "1", checked, id: cid, onchange: "this.form.submit()" %>
          <span><%= habit.name %></span>
        </label>
			<% end %>
		<% end %>
</section>
