<div class="p-[24px]">
  <%= form_with model: @daily_record, local: true do |f| %>

    <div class="text-white font-bold mt-[48px] mb-[16px]">
      <%= f.date_select :recorded_on,
        start_year: Date.current.year - 5,
        end_year:   Date.current.year + 1,
        order: [:year, :month, :day],
        use_month_numbers: true,
        date_separator: " ",
        prompt: { year: "å¹´", month: "æœˆ", day: "æ—¥" } %>
    </div>

    <div class="box-border border-[1px] border-white bg-white/30 rounded-[20px] py-[32px]">
      <div class="mx-[20px] text-[#656565]">
        <%= f.label :weight, "ä½“é‡" %>
        <div class="box-content h-[45px] bg-white rounded-[20px] mt-[0px]"><%= f.number_field :weight, step: "0.1" %></div>
      </div>

      <div class="mt-[24px] mx-[20px] text-[#656565]">
        <%= f.label :body_fat_percentage, "ä½“è„‚è‚ªçŽ‡" %>
        <div class="box-content h-[45px] bg-white rounded-[20px]"><%= f.number_field :body_fat_percentage, step: "0.1" %></div>
      </div>

      <div class="text-[#656565] mx-[20px] mt-[24px]">
        <%= f.label :motivation, "ãƒ¢ãƒãƒ™ãƒ¼ã‚·ãƒ§ãƒ³" %><br>
        <%= f.hidden_field :recorded_on, value: @today %>
        <%= f.radio_button :motivation, "ðŸ˜–" %>
        <%= f.label :motivation, "ðŸ˜–" %>
        <%= f.radio_button :motivation, "ðŸ˜‘" %>
        <%= f.label :motivation, "ðŸ˜‘" %>
        <%= f.radio_button :motivation, "ðŸ™‚" %>
        <%= f.label :motivation, "ðŸ™‚" %>
        <%= f.radio_button :motivation, "ðŸ˜†" %>
        <%= f.label :motivation, "ðŸ˜†" %>
      </div>

      <div class="box-content h-[45px] rounded-[20px] bg-[#2EB7AC] text-white font-regular mt-[42px] mx-[20px] leading-[45px] text-center"><%= f.submit "ä¿å­˜" %></div>
    <% end %>
    </div>
