<div class="px-[24px]">
  <h1 class="font-[Montserrat] text-white font-bold text-[32px] mb-[16px] py-[24px]">記録一覧</h1>
  <div class="overflow-x-auto border border-white bg-white/30 rounded-[20px] text-[#656565] p-[24px] shadow-xl">

    <table class="w-full">
      <thead class="border-b border-[#656565]">
        <tr class="text-[#656565] font-bold">
          <th class="pb-[16px] [writing-mode:vertical-rl]">日付</th>
          <th class="pb-[16px] [writing-mode:vertical-rl]">体重</th>
          <th class="pb-[16px] [writing-mode:vertical-rl]">体脂肪率</th>
          <th class="pb-[16px] [writing-mode:vertical-rl]">モチベ</th>
          <th class="pb-[16px] [writing-mode:vertical-rl]">習慣達成率</th>
        </tr>
      </thead>

      <tbody>
        <% @dates.reverse_each do |date| %>
          <% daily_record = @daily_records[date] %>

          <tr class="border-b border-[#A2A2A2]">
            <td class="p-[24px]"><%= date.strftime("%Y／%m／%d") %></td>
            <td class="inline-block m-[24px]">
              <% if daily_record.nil? %>
                <p>-</p>
              <% else %>
                <p class="mb-[16px]"><%= daily_record.weight %>kg</p>
                <%= button_to daily_record_path(daily_record), method: :patch, params: { daily_record: { weight: nil } }, data: { turbo: false }, form: { data: { turbo_confirm: "体重を削除しますか？" } }, class: "md" do %>
                  <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.4872 4.08674C22.4872 4.08674 22.6617 4.20978 19.9478 3.38561C17.515 2.64709 15.2138 2.48859 15.2138 2.48859L15.0543 1.35791C14.9446 0.577559 14.3058 0 13.5533 0H11.7574H9.96141C9.20994 0 8.57104 0.577559 8.46047 1.35791L8.30098 2.48859C8.30098 2.48859 6.0007 2.64709 3.56789 3.38561C0.853066 4.20984 1.0275 4.08674 1.0275 4.08674C0.422578 4.25367 0 4.82824 0 5.48502V6.46324H11.7574H23.5158V5.48502C23.5158 4.82824 23.0932 4.25367 22.4872 4.08674Z" fill="#656565"/>
                    <path d="M1.94887 27.2303C2.08739 28.798 3.40048 30 4.97471 30H18.5406C20.1142 30 21.4278 28.798 21.5664 27.2303L23.0688 8.05786H0.446472L1.94887 27.2303ZM16.7979 12.2991C16.8278 11.8067 17.2509 11.4315 17.7432 11.4614C18.2355 11.4913 18.6103 11.9144 18.5809 12.4067L17.7317 26.4395C17.7019 26.9318 17.2788 27.3066 16.7865 27.2767C16.2941 27.2468 15.9189 26.8243 15.9488 26.3319L16.7979 12.2991ZM10.8644 12.3529C10.8644 11.8595 11.2641 11.4599 11.7574 11.4599C12.2507 11.4599 12.6503 11.8595 12.6503 12.3529V26.3856C12.6503 26.879 12.2507 27.2786 11.7574 27.2786C11.264 27.2786 10.8644 26.8789 10.8644 26.3856V12.3529ZM5.77153 11.4614C6.26389 11.4315 6.687 11.8067 6.71688 12.2991L7.56702 26.3318C7.5969 26.8242 7.22167 27.2467 6.72936 27.2766C6.237 27.3065 5.81389 26.9317 5.78401 26.4394L4.93388 12.4066C4.90393 11.9144 5.27917 11.4913 5.77153 11.4614Z" fill="#656565"/>
                  </svg>
                <% end %>
              <% end %>
            </td>

            <td class="m-[24px]">
              <% if daily_record.nil? %>
                <p>-</p>
              <% else %>
                <p><%= daily_record.body_fat_percentage %>%</p>
                <%= button_to daily_record_path(daily_record), method: :patch, params: { daily_record: { body_fat_percentage: nil } }, data: { turbo: false }, form: { data: { turbo_confirm: "体脂肪率を削除しますか？" } } do %>
                  <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.4872 4.08674C22.4872 4.08674 22.6617 4.20978 19.9478 3.38561C17.515 2.64709 15.2138 2.48859 15.2138 2.48859L15.0543 1.35791C14.9446 0.577559 14.3058 0 13.5533 0H11.7574H9.96141C9.20994 0 8.57104 0.577559 8.46047 1.35791L8.30098 2.48859C8.30098 2.48859 6.0007 2.64709 3.56789 3.38561C0.853066 4.20984 1.0275 4.08674 1.0275 4.08674C0.422578 4.25367 0 4.82824 0 5.48502V6.46324H11.7574H23.5158V5.48502C23.5158 4.82824 23.0932 4.25367 22.4872 4.08674Z" fill="#656565"/>
                    <path d="M1.94887 27.2303C2.08739 28.798 3.40048 30 4.97471 30H18.5406C20.1142 30 21.4278 28.798 21.5664 27.2303L23.0688 8.05786H0.446472L1.94887 27.2303ZM16.7979 12.2991C16.8278 11.8067 17.2509 11.4315 17.7432 11.4614C18.2355 11.4913 18.6103 11.9144 18.5809 12.4067L17.7317 26.4395C17.7019 26.9318 17.2788 27.3066 16.7865 27.2767C16.2941 27.2468 15.9189 26.8243 15.9488 26.3319L16.7979 12.2991ZM10.8644 12.3529C10.8644 11.8595 11.2641 11.4599 11.7574 11.4599C12.2507 11.4599 12.6503 11.8595 12.6503 12.3529V26.3856C12.6503 26.879 12.2507 27.2786 11.7574 27.2786C11.264 27.2786 10.8644 26.8789 10.8644 26.3856V12.3529ZM5.77153 11.4614C6.26389 11.4315 6.687 11.8067 6.71688 12.2991L7.56702 26.3318C7.5969 26.8242 7.22167 27.2467 6.72936 27.2766C6.237 27.3065 5.81389 26.9317 5.78401 26.4394L4.93388 12.4066C4.90393 11.9144 5.27917 11.4913 5.77153 11.4614Z" fill="#656565"/>
                  </svg>
                <% end %>
              <% end %>
            </td>

            <td class="p-[24px]">
              <% if daily_record %>
                <%= daily_record.motivation %>
              <% else %>
                <p>-</p>
              <% end %>
            </td>
            <td class="p-[24px]"><% if daily_record %><%= @rates[daily_record.id] %>%<% end %></td>
          </tr>
        <% end %>
      </tbody>
      <button class="join-item btn"><%= paginate @months %></button>
    </table>
  </div>
</div>
