<h1>記録一覧</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>体重</th>
      <th>体脂肪率</th>
      <th>タスクの達成率</th>
    </tr>
  </thead>

  <%= paginate @daily_records %>
  <tbody>
    <% @daily_records.each do |daily_record| %>
      <tr>
        <td><%= daily_record.recorded_on %></td>
        <td>
          <%= daily_record.weight %>
          <%= form_with url: "/daily_records/:id", method: :patch, local: true do |form| %>
            <%= form.label :weight, "編集する" %>
            <%= form.number_field :weight %>
            <%= form.submit "更新" %>
            <%= form.button "削除", formmethod: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
          <% end %>
        </td>
        <td>
          <%= daily_record.body_fat_percentage %>
          <%= form_with url: "/daily_records/:id", method: :patch, local: true do |form| %>
            <%= form.label :body_fat_percentage, "編集する" %>
            <%= form.number_field :body_fat_percentage %>
            <%= form.submit "更新" %>
            <%= form.button "削除", formmethod: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
          <% end %>
        </td>
        <td><%= @rates[daily_record.id] %></td>
      </tr>
    <% end %>
  </tbody>
  <%= paginate @daily_records %>
</table>
