<h1>記録一覧</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>体重</th>
      <th>体脂肪率</th>
      <th>タスクの達成率</th>
    </tr>
  </thead>

  <%= paginate @dates %>
  <tbody>
    <% @dates.each do |date| %>
      <% daily_record = @daily_records[date] %>
      <tr>
        <td><%= date.strftime("%Y年%m月%d日") %></td>
        <% if daily_record.present? %>
          <td>
            <%= form_with model: daily_record, url: daily_record_path(daily_record), method: :patch, local: true do |form| %>
              <%= form.number_field :weight %>
              <%= form.submit "更新" %>
            <% end %>
            <%= button_to "削除", daily_record_path(daily_record), method: :patch, params: { daily_record: { weight: nil } }, data: { turbo_confirm: "体重を削除しますか？" } %>
          </td>
          <td>
            <%= form_with model: daily_record, url: daily_record_path(daily_record), method: :patch, local: true do |form| %>
              <%= form.number_field :body_fat_percentage %>
              <%= form.submit "更新" %>
            <% end %>
            <%= button_to "削除", daily_record_path(daily_record), method: :patch, params: { daily_record: { body_fat_percentage: nil } }, data: { turbo_confirm: "体脂肪率を削除しますか？" } %>
          </td>
          <td><%= @rates[daily_record.id] %>%</td>

        <% else %>
          <td>
            <%= form_with model: daily_record, url: daily_records_path, method: :post, local: true do |form| %>
              <%= form.hidden_field :recorded_on, value: date %>
              <%= form.number_field :weight %>
              <%= form.submit "保存" %>
            <% end %>
          </td>

          <td>
            <%= form_with model: daily_record, url: daily_records_path, method: :post, local: true do |form| %>
              <%= form.hidden_field :recorded_on, value: date %>
              <%= form.number_field :body_fat_percentage %>
              <%= form.submit "保存" %>
            <% end %>
          </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
  <%= paginate @dates %>
</table>
