<h1>記録一覧</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>体重</th>
      <th>体脂肪率</th>
      <th>モチベーション</th>
      <th>タスクの達成率</th>
    </tr>
  </thead>


  <%= paginate @dates %>
  <tbody>
    <% @dates.each do |date| %>
      <% daily_record = @daily_records[date] %>

      <tr>
        <td><%= date.strftime("%Y年%m月%d日") %></td>
        <td>
          <% if daily_record %>
            <%= form_with model: daily_record, url: daily_record_path(daily_record), method: :patch, local: true do |form| %>
              <%= form.number_field :weight %>
              <%= form.submit "更新" %>
            <% end %>
            <% if daily_record.weight.present? %>
              <%= button_to "削除", daily_record_path(daily_record), method: :patch, params: { daily_record: { weight: nil } }, data: { turbo_confirm: "体重を削除しますか？" } %>
            <% end %>
          <% else %>
            <%= form_with url: daily_records_path, scope: :daily_record, method: :post, local: true do |form| %>
              <%= form.hidden_field :recorded_on, value: date %>
              <%= form.number_field :weight %>
              <%= form.submit "保存" %>
            <% end %>
          <% end %>
        </td>

        <td>
          <% if daily_record %>
            <%= form_with model: daily_record, url: daily_record_path(daily_record), method: :patch, local: true do |form| %>
              <%= form.number_field :body_fat_percentage %>
              <%= form.submit "更新" %>
            <% end %>
            <% if daily_record.body_fat_percentage.present? %>
              <%= button_to "削除", daily_record_path(daily_record), method: :patch, params: { daily_record: { body_fat_percentage: nil } }, data: { turbo_confirm: "体脂肪率を削除しますか？" } %>
            <% end %>
          <% else %>
            <%= form_with url: daily_records_path, scope: :daily_record, method: :post, local: true do |form| %>
              <%= form.hidden_field :recorded_on, value: date %>
              <%= form.number_field :body_fat_percentage %>
              <%= form.submit "保存" %>
            <% end %>
          <% end %>
        </td>

        <td>
          <% if daily_record %>
            <%= daily_record.motivation %>
          <% else %>
            <%= form_with url: daily_records_path, scope: :daily_record, method: :post, local: true do |form| %>
              <%= form.hidden_field :recorded_on, value: date %>
              <%= form.radio_button :motivation, "😖" %>
              <%= form.label :motivation, "😖" %>
              <%= form.radio_button :motivation, "😑" %>
              <%= form.label :motivation, "😑" %>
              <%= form.radio_button :motivation, "🙂" %>
              <%= form.label :motivation, "🙂" %>
              <%= form.radio_button :motivation, "😆" %>
              <%= form.label :motivation, "😆" %>
              <%= form.submit "保存" %>
            <% end %>
          <% end %>
        </td>
        <td><% if daily_record %><%= @rates[daily_record.id] %>%<% end %></td>
      </tr>
    <% end %>
  </tbody>
  <%= paginate @dates %>
</table>
