<%= form_with model: habit, local: true do |f|  %>
  <% if f.object.errors.any? %>
    <ul style="color:#c00">
      <% f.object.errors.full_message.each do |m| %><li><%= m %></li><% end %>
    </ul>
  <% end %>

  <div class="box-border border-1 border-white bg-white/30 py-[24px] px-[16px] my-[32px] mx-[24px] rounded-[20px]">
    <div class="text-[#656565]"><%= f.label :name, "項目名" %></div>
    <%= f.text_field :name, placeholder: "ウォーキング1時間など" %>
    <div class="box-content h-[45px] bg-[#2EB7AC] text-white rounded-[20px] text-center mt-[32px] leading-[45px]"><%= f.submit (defined?(submit_text) ? submit_text : "保存") %></div>
  </div>
<% end %>
