<!DOCTYPE html>
<html data-theme="pastel">
  <head>
    <title>MyHabit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_include_tag "acquisitions", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans+JP:wght@400;500;700&display=swap"
        rel="stylesheet">
  </head>

  <body class="bg-[linear-gradient(90deg,_#68B2A0A6_0%,_#CDE0C9_67%)] min-h-dvh">
    <header>
    </header>
    <% if notice %><div class="flash notice"><%= notice %></div><% end %>
    <% if alert %><div class ="flash alert"><%= alert %></div><% end %>

    <main class="w-full max-w-sm sm:max-w-md lg:max-w-4xl mx-auto px-4">
      <%= yield %>
    </main>
  
    <%= render "shared/footer" %>
  </body>
</html>
