<!DOCTYPE html>
<html>
  <head>
    <title>myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="mx-auto min-h-dvh [background-image:linear-gradient(rgba(46,183,172,.15),rgba(46,183,172,.15)),linear-gradient(180deg,rgba(108,194,177,.5)_0%,rgba(205,224,201,.9)_50%,#E0ECDE_100%)] [background-size:100%_100%,100%_100%]">
    <header>
    </header>

    <% if notice %><div class="flash notice"><%= notice %></div><% end %>
    <% if alert %><div class ="flash alert"><%= alert %></div><% end %>

    <%= yield %>

    <footer class="w-full h-[76px] bg-white fixed bottom-0">
      <ul class="w-full h-[40px] my-auto flex justify-evenly text-[#2EB7AC] fixed mt-[19px] mb-[17px]">
        <li class="my-auto"><%= link_to dashboard_path do %>
          <svg width="65" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.7543 3.96493L19.0351 0.245712C18.7074 -0.0819038 18.1762 -0.0819038 17.8486 0.245712L2.14617 15.3263C2.04878 15.4236 1.97686 15.5435 1.93679 15.6752L0.0375303 21.9156C-0.15788 22.5576 0.442322 23.1579 1.08439 22.9625L7.52539 21.0021L22.7543 5.15141C23.0819 4.82375 23.0819 4.29254 22.7543 3.96493ZM2.8536 20.8921L2.10861 20.1471L3.20349 16.5486L5.31501 17.6847L6.45135 19.7965L2.8536 20.8921ZM20.3939 3.37097L7.01553 16.8343L6.16565 15.9845L19.6297 2.6055L20.3939 3.36971C20.3939 3.37021 20.3939 3.37048 20.3939 3.37097Z" fill="#2EB7AC"/>
          </svg>
          <span class>記録する</span>
        <% end %></li>

        <li class="my-auto"><%= link_to habits_path do %>
          <svg width="75" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.695655 6.66582L4.18477 1.32578C4.72529 0.499219 5.64619 0 6.63442 0H18.3656C19.3539 0 20.2748 0.499219 20.8153 1.32539L24.3044 6.66582C24.7579 7.36035 25 8.17261 25 9.00283V14.4837C25 15.2642 24.6811 15.9788 24.1691 16.4894C23.6585 17.0014 22.9439 17.3207 22.1634 17.3203H2.83662C2.05615 17.3207 1.3415 17.0014 0.830957 16.4894C0.318946 15.9788 0 15.2642 0 14.4837V9.00283C0 8.17261 0.242139 7.36035 0.695655 6.66582ZM9.2355 8.23369L9.31304 8.47217C9.74824 9.81767 11.0093 10.7935 12.5 10.7927C13.9908 10.7935 15.2525 9.81767 15.6871 8.47217L15.7646 8.23369H23.1545C23.0851 8.01426 22.9885 7.80322 22.8612 7.6083L19.3729 2.2686C19.1505 1.92847 18.7716 1.72329 18.3657 1.72329H6.63447C6.22852 1.72329 5.84961 1.92847 5.62725 2.2686L2.13892 7.6083C2.01162 7.80322 1.91509 8.01426 1.84561 8.23369H9.2355Z" fill="#A2A2A2"/>
          </svg>
          <span>タスク一覧</span>
        <% end %></li>

        <li class="my-auto"><%= link_to daily_records_path do %>
          <svg width="65" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.9444 0H5.66547C5.08487 0 4.27398 0.323818 3.86343 0.719578L0.746394 3.72463C0.335844 4.12043 0 4.90219 0 5.46193V19.9823C0 20.5421 0.475005 21 1.05561 21H13.3345C13.9151 21 14.8652 21 15.4458 21H17.9444C18.525 21 19 20.5421 19 19.9823V17.5734C19 17.0137 19 16.0978 19 15.5381V1.01768C19 0.457939 18.525 0 17.9444 0ZM12.107 16.3735C12.107 16.4595 12.0346 16.5293 11.9454 16.5293H4.27934C4.19013 16.5293 4.11776 16.4595 4.11776 16.3735V15.6881C4.11776 15.6021 4.19013 15.5324 4.27934 15.5324H11.9454C12.0346 15.5324 12.107 15.6021 12.107 15.6881V16.3735ZM14.8822 13.2412C14.8822 13.3411 14.7982 13.4221 14.6946 13.4221H4.30534C4.20174 13.4221 4.11776 13.3412 4.11776 13.2412V12.6061C4.11776 12.5062 4.20174 12.4253 4.30534 12.4253H14.6947C14.7983 12.4253 14.8822 12.5062 14.8822 12.6061V13.2412H14.8822ZM14.8822 10.1341C14.8822 10.234 14.7982 10.3149 14.6946 10.3149H4.30534C4.20174 10.3149 4.11776 10.234 4.11776 10.1341V9.49897C4.11776 9.3991 4.20174 9.31813 4.30534 9.31813H14.6947C14.7983 9.31813 14.8822 9.3991 14.8822 9.49897V10.1341H14.8822ZM14.8822 7.02704C14.8822 7.12692 14.7982 7.20784 14.6946 7.20784H4.30534C4.20174 7.20784 4.11776 7.12688 4.11776 7.02704V6.39183C4.11776 6.29196 4.20174 6.211 4.30534 6.211H14.6947C14.7983 6.211 14.8822 6.29196 14.8822 6.39183V7.02704H14.8822Z" fill="#A2A2A2"/>
          </svg>
          <span>記録一覧</spna>
          <% end %></li>

        <li class="my-auto"><%= link_to profile_path do %>
          <svg width="80" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.0828 0H3.91726C1.7578 0 0 1.58082 0 3.5232V17.4775C0 19.4199 1.7578 21 3.91726 21H13.298H13.8993L14.3239 20.6185L18.5762 16.7947L19 16.4128V15.8725V3.5232C19 1.58082 17.243 0 15.0828 0ZM6.99598 8.27281C6.99598 7.02897 8.11691 6.02089 9.5 6.02089C10.8827 6.02089 12.0032 7.02897 12.0032 8.27281V8.81208C12.0032 10.056 10.8827 11.0633 9.5 11.0633C8.11691 11.0633 6.99598 10.056 6.99598 8.81208V8.27281ZM12.5613 14.609C11.7513 14.609 9.49995 14.609 9.49995 14.609C9.49995 14.609 7.24787 14.609 6.43825 14.609C5.62785 14.609 5.26108 13.5496 5.72923 12.8009C6.08219 12.2367 6.66008 11.5969 7.60192 11.2336C8.14017 11.5727 8.79414 11.7722 9.49991 11.7722C10.205 11.7722 10.8589 11.5727 11.3975 11.2336C12.339 11.5969 12.9173 12.2367 13.2698 12.8009C13.7385 13.5496 13.3713 14.609 12.5613 14.609ZM13.298 19.6956V17.7211C13.298 16.7003 14.2193 15.8724 15.3537 15.8724H17.5496L13.298 19.6956Z" fill="#A2A2A2"/>
          </svg>
          <span>プロフィール</span>
        <% end %></li>
      </ul>
    </footer>
  </body>
</html>
